{% extends "base.html" %}

{%- block content -%}
<div class="page">

    <div class="title-assembly">
      <h1 class="title">Not Much Out Here …</h1>
    </div>
  
    <div id="es-content">
      <p>I’m sorry, but I don’t quite know what you’re looking for.</p>
      <div class="es_image anti-section" style="margin-top: 4em">
        <img src="/common/es-4330-144.jpg" alt="A desert landscape">
      </div>
      <p>You might try:</p>
      <ul>
        <li><a href="/">The home page</a> for recent posts</li>
        <li><a href="/countries/">My list of countries visited</a> with links to stories from many countries</li>
      </ul>
    </div>
      
    {%- include "endmark.html" -%}
  
  </div>
{%- endblock content -%}
