{% extends "zola-es-theme/templates/page.html" -%}
{% import "es_macros.html" as es_macros -%}

{% block page_meta_extra -%}
{% set countries = page | get(key="taxonomies", default=[]) | get(key="country", default=[]) | sort -%}
{% set states = page | get(key="taxonomies", default=[]) | get(key="state", default=[]) | sort -%}
{% if countries | length > 0 or states | length > 0 -%}
<li class="countries_and_states">
{% for country in countries -%}
{{ es_macros::tag(tax = "country", term = country) }}
{% endfor -%}
{% for state in states -%}
{{ es_macros::tag(tax = "state", term = state) }}
{% endfor -%}
</li>
{% endif -%}
{% endblock page_meta_extra -%}
